.intro-content{
    display: grid;
    position: relative;
    bottom: 5rem; 
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
    max-width: 100vh;
}

.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}



.intro-img img{
    max-width: 100%;
    height: auto;
}

