table thead{
    font-size: 1.5rem;

}

table{
    width: 100%;
    border-collapse: collapse;
    min-width: 360px;
}

table th,table td{
    border: 0.1rem solid var(--gray-color);
    text-align: center;
    padding: 0.5rem;
    white-space: nowrap;
}

table tbody{
    font-size: 1rem;

}

tfoot{
    font-size: 1.5rem;

}

tfoot tr, thead tr{
    background-color: var(--gray-color2) ;
}

table caption{
    font-size: 1.5rem;
    font-style:italic;
    text-align: left;
}


.responsive{
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
}

.pricing-content{
    max-width: 64rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    position:relative;

}