:root{
    --primary-color:#161633;
    --white-color: #ffffff;
    --gray-color: #EEEEEE;
    --gap: 3rem;
    --menu-border: rgb(143, 53, 143);
    --gray-color2: #eeeeee91;
    --gray-color3: #a7a4a4f8; 
}